body{
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: salmon;
    
}

.form{
    position: absolute;
    top: 30%;
    box-shadow: 0 4px 8px rgba(0,0, 0, 0.8);
    width: 400px;
    background-color: lightgreen;
    border-radius: 10px;
    overflow: hidden;
    
}
.input{
    width: 100%;
    box-sizing: border-box;
    padding: 28px;
    border-radius: 10px 10px 0 0;
    border: none;
    font-size: 20px;
    font-family: cursive;
}
.input::placeholder{
    color: lightgray;
}
.list{
    padding: 0;
    margin: 0;
}
.list li{
    list-style-type: none;
    padding: 
    20px;
    background-color: pink;
    font-family: cursive;
    border-top: dotted;
    border-color: gray;
    position: relative;
    
}
.list li .fa-trash{
    position: absolute;
    right: 10px;
    bottom: 20px;
    color: red;

     cursor: pointer;
}
.list li .fa-square-check{
    color: green;
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.list li.checked{
    color: darkgray;
    text-decoration: line-through;
}

.list li.checked .fa-square-check{
    color: darkgray;
}
